body {
  background: #f9e933;
}

header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

header {
  background: white;
  overflow: auto;
  font-size: x-large;
  color: red;
  padding-bottom: 10px;
}

header h1 {
  float: left;
  width: 570px;
  font-size: x-large;

}

header nav {
  float: right;
  width: 285px;
  font-size: x-large;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
  border: 2px dashed green;
}

main .right {
  float: right;
  width: 285px;
}


footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}